@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-family: Quicksand;
    font-size: 18px;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #BD0940 #0B3736;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #0B3736;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #BD0940;
    border-radius: 20px;
    border: 3px solid #0B3736;
  }