/* Blowfish scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --color-neutral-50: 248, 250, 252;
  --color-neutral-100: 241, 245, 249;
  --color-neutral-200: 226, 232, 240;
  --color-neutral-300: 203, 213, 225;
  --color-neutral-400: 148, 163, 184;
  --color-neutral-500: 100, 116, 139;
  --color-neutral-600: 71, 85, 105;
  --color-neutral-700: 51, 65, 85;
  --color-neutral-800: 30, 41, 59;
  --color-neutral-900: 15, 23, 42;
  /* Blue */
  /* --color-primary-50: 239, 246, 255;
  --color-primary-100: 219, 234, 254;
  --color-primary-200: 191, 219, 254;
  --color-primary-300: 147, 197, 253;
  --color-primary-400: 96, 165, 250;
  --color-primary-500: 59, 130, 246;
  --color-primary-600: 37, 99, 235;
  --color-primary-700: 29, 78, 216;
  --color-primary-800: 30, 64, 175;
  --color-primary-900: 30, 58, 138; */
  --color-primary-50: 255, 240, 242;
  --color-primary-100: 255, 227, 231;
  --color-primary-200: 255, 203, 212;
  --color-primary-300: 255, 160, 178;
  --color-primary-400: 255, 106, 137;
  --color-primary-500: 253, 54, 100;
  --color-primary-600: 235, 19, 80;
  --color-primary-700: 189, 9, 64;
  --color-primary-800: 166, 11, 64;
  --color-primary-900: 142, 13, 61;
  /* Rose */
  --color-secondary-50: 255, 240, 242;
  --color-secondary-100: 255, 227, 231;
  --color-secondary-200: 255, 203, 212;
  --color-secondary-300: 255, 160, 178;
  --color-secondary-400: 255, 106, 137;
  --color-secondary-500: 253, 54, 100;
  --color-secondary-600: 235, 19, 80;
  --color-secondary-700: 189, 9, 64;
  --color-secondary-800: 166, 11, 64;
  --color-secondary-900: 142, 13, 61;
}
